{% extends '../core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>

</script>
<div class="Container flex flex-col chatonlywide:mx-20 gap-14 h-[80vh]">
    {% load static %}
    <form id="post-form" class="flex flex-col gap-8 h-full">
        {% csrf_token %}

        <div class="chat-hist flex flex-col gap-14 max-h-[70vh] flex-w overflow-auto ">

            <div id="bot-chat" class="bot-chat max-w-[80%] flex flex-row gap-5">
                <div
                    class=" rounded-[50%] shrink-0 image-bot w-[3.188rem] h-[3.188rem] chatonlytab:w-[2.5rem] chatonlytab:h-[2.5rem]  chatonlyphone:w-[2.3rem] chatonlyphone:h-[2.3rem]  bg-[white] flex items-center justify-center  self-end">
                    <img src="{% static 'image/bot.png'%}" class="drop-shadow-sm rounded-[50%]" alt="">
                </div>

                <div
                    class="bot-chat-message text-sm font-medium text-[white] bg-[#505AB5] px-5 py-3 rounded-t-2xl rounded-r-2xl drop-shadow-sm chattextportable:text-xs">
                    <span>
                        Hi ! how may i help
                        you ?

                    </span>
                </div>
            </div>



        </div>
        <div class="bottom-form h-[52px]  flex flex-row justify-between gap-3 mt-auto">
            <input id="message" class="w-[90%] px-5 text-[15px] rounded-[60px] border-none shadow-input" type="text"
                placeholder="Ask something..." />
            <button id="submit-button"
                class="shrink-0 bg-[white] rounded-[50%] w-[51px] h-[51px] flex justify-center items-center shadow-input"><img
                    src="{% static 'icons/send.png'%}" value="Send" type="submit" alt=""></button>
            <button id="bug-report"
                class="shrink-0 bg-[white] rounded-[50%] w-[35px] h-[35px]  shadow-input flex justify-center items-center self-center"><img
                    src=" {% static 'icons/Vector.png'%}" alt=""></button>

        </div>
    </form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script type="text/javascript">
    var localHist = []
    $(document).on("submit", "#post-form", async function (e) {
        e.preventDefault();

        var userMessage = $("#message").val().trim();
        if (userMessage === "") {
            return;
        }

        // Add user message container
        var userMessageContainer =
            '<div class="human-chat max-w-[80%] flex gap-5 flex-row-reverse self-end">' +
            '<div class="shrink-0 chatonlyphone:w-[2.3rem] chatonlyphone:h-[2.3rem] w-[3.188rem] h-[3.188rem] chatonlytab:w-[2.5rem] chatonlytab:h-[2.5rem] rounded-[50%] bg-[white] flex items-center justify-center self-end">' +
            '<img src="{% static "image/human.png"%}" class="rounded-[50%] shadow-lm" alt="">' +
            '</div>' +
            '<div class="human-chat-message text-sm font-medium text-[black] bg-[white] px-5 py-3 rounded-t-2xl rounded-l-2xl drop-shadow-sm chattextportable:text-xs">' +
            '<span>' + userMessage + '</span>' +
            '</div>' +
            '</div>';

        $(".chat-hist").append(userMessageContainer);

        var humanMessage = {
            "Human": userMessage,
            "date": new Date()
        }


        localHist.push(humanMessage);
        $.ajax({
            type: "POST",
            url: "/send",
            data: {
                message: userMessage,
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            },
            beforeSend: function () {
                $("#submit-button").prop("disabled", true);
            },
            success: function (data) {
                // Add bot message container
                var answer = data.answer;
                var botMessage = {
                    "Bot": answer,
                    "date": new Date()
                }
                localHist.push(botMessage);

                var botMessageContainer =
                    '<div class="bot-chat max-w-[80%] flex flex-row gap-5">' +
                    '<div class="rounded-[50%] shrink-0 image-bot w-[3.188rem] h-[3.188rem] chatonlytab:w-[2.5rem] chatonlytab:h-[2.5rem] chatonlyphone:w-[2.3rem] chatonlyphone:h-[2.3rem] bg-[white] flex items-center justify-center self-end">' +
                    '<img src="{% static "image/bot.png"%}" class="shadow-lm rounded-[50%]" alt="">' +
                    '</div>' +
                    '<div class="bot-chat-message text-sm font-medium text-[white] bg-[#505AB5] px-5 py-3 rounded-t-2xl rounded-r-2xl drop-shadow-sm chattextportable:text-xs">' +
                    '<span>' + answer + '</span>' +
                    '</div>' +
                    '</div>';

                $(".chat-hist").append(botMessageContainer);
                var chatHistContainer = $(".chat-hist");
                chatHistContainer.scrollTop(chatHistContainer.prop("scrollHeight"));
                $("#message").val(""); // Clear the input field
                $("#submit-button").prop("disabled", false);

            },
            error: function (data) {
                var answer = data.answer;
                var botMessage = {
                    "Bot": answer,
                    "date": new Date()
                }
                localHist.push(botMessage);
                var errormessage =
                    "sorry for the inconvenience, please try again later or report the issue to the admins using the button on the right bottom corner";

                var botMessageContainer =
                    '<div class="bot-chat max-w-[80%] flex flex-row gap-5">' +
                    '<div class="rounded-[50%] shrink-0 image-bot w-[3.188rem] h-[3.188rem] chatonlytab:w-[2.5rem] chatonlytab:h-[2.5rem] chatonlyphone:w-[2.3rem] chatonlyphone:h-[2.3rem] bg-[white] flex items-center justify-center self-end">' +
                    '<img src="{% static "image/bot.png"%}" class="shadow-lm rounded-[50%]" alt="">' +
                    '</div>' +
                    '<div class="bot-chat-message text-sm font-medium text-[white] bg-[#505AB5] px-5 py-3 rounded-t-2xl rounded-r-2xl drop-shadow-sm chattextportable:text-xs">' +
                    '<span>' + answer + '</span>' +
                    '</div>' +
                    '</div>';

                $(".chat-hist").append(botMessageContainer);
                var chatHistContainer = $(".chat-hist");
                chatHistContainer.scrollTop(chatHistContainer.prop("scrollHeight"));
                $("#message").val(""); // Clear the input field
                $("#submit-button").prop("disabled", false);
            },
        });
    });

    $(document).on("click", "#bug-report", function (e) {
        e.preventDefault();

        // Perform the bug report request
        $.ajax({
            type: "POST",
            url: "/bugreport",
            data: {
                message: "A bug has been reported",

                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            },
            beforeSend: function () {
                $("#bug-report").prop("disabled", true);
            },
            success: function (data) {
                // Show success message or perform any other action
                console.log("Bug report sent successfully");
                console.log(localHist)
                $("#bug-report").prop("disabled", false);
            },
            error: function (data) {
                // Show error message or perform any other action
                console.error("Failed to send bug report");
                $("#bug-report").prop("disabled", false);
            },
        });
    });
</script>



{% endblock %}