{% extends '../core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}


<div class="flex flex-col gap-8 text-bluecharcoal">
    {% load static %}
    <div>
        <h1 class="text-[1.9rem]">Welcome, </h1>
        <span class="text-[1.6rem] font-poppin">To your Dashboard</span>
    </div>
    <img class="self-center" src="{% static 'image/homeprof.png'%}" alt="">

    <span class="text-xl font-poppinRegular
     text-center self-center">Need help with something? try and ask our virtual
        assistant
        he’ll be happy to help.</span>

    <button class="rechercheButton text-[1.25rem]  w-48 h-14 bg-loyalblue text-[white] font-medium px-6 py-3 rounded-lg self-center">
        <a href="{% url "chatbot" %}">
            Quick Access
        </a>
    </button>
</div>
{% endblock %}