{% extends 'core/base.html' %}

{% block title %} Annonce {% endblock %}
{% block content %}

<div class="flex flex-wrap justify-items-center gap-[5px] -mt-20 md:-mt-10 SmallScreen:-mt-6 w-max">
  <img src="../../../theme/static/icons/Home.png"  class="w-5 h-4" alt="icon-home"/>
  <img src="../../../theme/static/icons/nextIcon.png" class="w-2 h-2 mt-1.5" alt="next home icon" />
  <span class="text-sm">Annonce</span>
</div>

<div
  class="Content flex flex-wrap justify-between mt-[40px] items-center justify-items-center AnnounceViewport:gap-4 AnnounceViewport:mt-0">
  <a href="{% url 'addAnnonce'%}">
    <button
      class="bg-lightgreen hover:bg-smoothgreen text-lightcolor py-3 px-4 rounded inline-flex items-start w-25 hoverButtonTrasitionFast">
      <img src="../../../theme/static/icons/ComposeAnnonce.png" class="h-4 mt-1" alt="compose ">
      <span class="ml-2">Compose</span>
    </button>
  </a>

  <div
    class="flex gap-[50px] flex-wrap justify-items-center items-center self-end AnnounceViewport:place-self-auto AnnounceViewport:gap-3">
    <button
      class="bg-bluecharcoal hover:bg-cornflower text-lightcolor py-2.5 px-4 rounded flex justify-items-center items-center w-24 hoverButtonTrasitionFast">
      <span class="font-poppinRegular">Filter</span>
      <img src="../../../theme/static/icons/FilterIcon.png" class="ml-2 w-4 h-4" alt="filter Icon">
    </button>
    <button
      class="bg-bluecharcoal hover:bg-cornflower text-lightcolor py-2.5 px-4 rounded flex justify-items-center items-center w-24 hoverButtonTrasitionFast">
      <span class="font-poppinRegular">More</span>
      <img src="../../../theme/static/icons/downArrowIcon.png" class="ml-2 mt-0.5 w-3.5 h-2" alt="downArrow Icon">
    </button>
  </div>
</div>

<div class="bg-white rounded-[5px] font-poppinRegular AnnounceViewport:z-0">
  {% if annonces %}
  <!--- this an annonce -->
  {% for annonce in annonces %}

    <!-- Modal Code -->
    {% if user.isadmine or annonce.idutilisateur.idutilisateur == user.idutilisateur  %}
    <section class="modal hidden justify-center" id="{{annonce.idannonce}}" info="{{annonce}}">
      <div class="flex flex-col justify-center items-center gap-2">
        <img src="../../theme/static/image/TrachImage.png" width="163" height="163" />
        <h4 class="font-poppin text-center w-72">Êtes-vous sûr de vouloir supprimer cette annonce ?</h4>
        <p id="titreAnnonce" class="text-[12px] font-poppinRegular opacity-60">"{{annonce.titreannonce}}"</p>
        <div class="flex gap-[30px] mt-5">
          <button class="btn-close cancelButton">Cancel</button>
          <a href="{% url 'deleteAnnonce' annonce.idannonce %}">
            <button class="deleteButton">
              Delete
            </button>
          </a>
        </div>
      </div>
    </section>
    <div class="overlay hidden" id="{{annonce.id}}"></div>
    {% endif %}
    <!-- Modal Code -->

    <div
      class="Content flex flex-wrap items-center justify-items-center justify-between p-4 borderBottomStyle AnnounceViewport:flex-col AnnounceViewport:gap-3 AnnounceViewport:relative">
      {% if user.isadmine %}
      <input id="link-checkbox" type="checkbox" value=""
        class="cursor-pointer h-5 w-5 rounded-sm text-blue-600 border-darkcolor border-2 opacity-60 ml-4 xl:ml-0 navbarTab:ml-0  AnnounceViewport:absolute AnnounceViewport:left-4 AnnounceViewport:ml-0 focus:text-primary focus:ring-offset-0 focus:ring-0">
      {% endif %}
      <div
        class="flex flex-wrap w-[200px] justify-items-center items-center gap-3 ml-5 navbarTab:ml-1 navbarTab:gap-1 AnnounceViewport:flex-col AnnounceViewport:ml-0">
        {% if annonce.idutilisateur.profilepic %}
          <img src="../../../Media/{{ annonce.idutilisateur.profilepic }}" class="w-8 h-8 AnnounceViewport:w-12 AnnounceViewport:h-12 drop-shadow-2xl rounded-full"
          alt="{{ annonce.idutilisateur.prenomfr }} {{ annonce.idutilisateur.nomfr }} user pic">
        {% else %}
        <img src="../../../theme/static/image/UnknownUserImage.png"
          class="w-8 h-8 AnnounceViewport:w-12 AnnounceViewport:h-12" alt="User pic">
        {% endif %}
        <span class="text-ellipsis text-sm AnnounceViewport:text-base">
          {{ annonce.idutilisateur.prenomfr }} {{ annonce.idutilisateur.nomfr }}
        </span>
      </div>

      <span class="3xl:text-base titreAnnonceViewport:w-[400px] 3xl:ml-28 2xl:ml-20 text-sm AnnounceViewport:font-poppin">
        {{ annonce.titreannonce }} <a href="{% url 'annonceinfos' annonce.idannonce %}" class="text-denimcolor">(lire la
          suite)</a></span>
      <span class="text-ellipsis 2xl:ml-20 xl:ml-7 3xl:text-base text-sm 2xl:text-base navbarTab:hidden">
        {{annonce.dateannonce}}</span>
      <span class="text-ellipsis md:text-base md:ml-20 ml-1 hidden navbarTab:block"> {{annonce.dateannonce}} </span>

      {% comment %} or annonce.idutilisateur == utilisateur.is_active {% endcomment %}
      <div
        class="flex flex-wrap gap-4 titreAnnonceViewport:w-[48px]  buttonsAnnonce:mr-0 mr-7 AnnounceViewport:absolute AnnounceViewport:right-0">
        {% if user.isadmine or annonce.idutilisateur.idutilisateur == user.idutilisateur %}
        <a href="{% url 'updateAnnonce' annonce.idannonce %}">
          <button class="w-4 h-5 hover:fill-lightblue">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30">
              <path
                d="M 22.828125 3 C 22.316375 3 21.804562 3.1954375 21.414062 3.5859375 L 19 6 L 24 11 L 26.414062 8.5859375 C 27.195062 7.8049375 27.195062 6.5388125 26.414062 5.7578125 L 24.242188 3.5859375 C 23.851688 3.1954375 23.339875 3 22.828125 3 z M 17 8 L 5.2597656 19.740234 C 5.2597656 19.740234 6.1775313 19.658 6.5195312 20 C 6.8615312 20.342 6.58 22.58 7 23 C 7.42 23.42 9.6438906 23.124359 9.9628906 23.443359 C 10.281891 23.762359 10.259766 24.740234 10.259766 24.740234 L 22 13 L 17 8 z M 4 23 L 3.0566406 25.671875 A 1 1 0 0 0 3 26 A 1 1 0 0 0 4 27 A 1 1 0 0 0 4.328125 26.943359 A 1 1 0 0 0 4.3378906 26.939453 L 4.3632812 26.931641 A 1 1 0 0 0 4.3691406 26.927734 L 7 26 L 5.5 24.5 L 4 23 z">
              </path>
            </svg>
          </button>
        </a>
        <button class="btn-open w-4 h-5 hover:fill-daredvilleorange" id="{{annonce.idannonce}}">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M 10 2 L 9 3 L 5 3 C 4.4 3 4 3.4 4 4 C 4 4.6 4.4 5 5 5 L 7 5 L 17 5 L 19 5 C 19.6 5 20 4.6 20 4 C 20 3.4 19.6 3 19 3 L 15 3 L 14 2 L 10 2 z M 5 7 L 5 20 C 5 21.1 5.9 22 7 22 L 17 22 C 18.1 22 19 21.1 19 20 L 19 7 L 5 7 z M 9 9 C 9.6 9 10 9.4 10 10 L 10 19 C 10 19.6 9.6 20 9 20 C 8.4 20 8 19.6 8 19 L 8 10 C 8 9.4 8.4 9 9 9 z M 15 9 C 15.6 9 16 9.4 16 10 L 16 19 C 16 19.6 15.6 20 15 20 C 14.4 20 14 19.6 14 19 L 14 10 C 14 9.4 14.4 9 15 9 z">
            </path>
          </svg>
        </button>
        {% endif %}
      </div>

    </div>

  {% endfor %}
  {% else %}
  <div class="flex flex-col justify-center items-center py-14 gap-2">
    <img src="../../../theme/static/image/EmptyListImage.png" width="163" height="163" />
    <h1 class="text-darkcolor text-xl font-poppin">Empty List!</h1>
    <p class="text-darkcolor font-poppinRegular">You have no announce at this moment</p>
  </div>
  {% endif %}

</div>
{% if annonces %}
<div class="flex items-center justify-center mb-10 mx-10 pb-2">
  <button class="bg-cornflower hover:bg-bluecharcoal py-3 px-4 text-white rounded font-poppinRegular">Load more</button>
</div>
{% endif %}

<script src="../../../theme/static/js/modalLogic.js" />
{% endblock%}