{% load static tailwind_tags %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% comment %} FavIcon for all the platforms {% endcomment %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock %} | Dashboard University</title>
    {% tailwind_css %}

</head>

<body class="bg-[#F1F1F1]">
    <div class="flex flex-row justify-between">
        <button class="hidden w-8 navbarPhone:block absolute mt-7 ml-11 " onclick="openSidebar()">
            <img src="{% static 'icons/HamburgerIcon.png' %}" alt="HamburgerIcon" />
        </button>
        <div class="navBarNotPhone:relative navBarNotPhone:w-1/5">
            <div id="sideBar"
                class="flex flex-col fixed w-1/5 navBarNotPhone:top-0 navBarNotPhone:bottom-0 navBarNotPhone:left-0 navbarPhone:h-screen navbar sidebar navbarPhone:w-[296px] navbarPhone:fixed hoverButtonTransition">
                <div
                    class="flex min-w-[179px] navbarMinTab:min-w-[100px] navbarMinTab:m-0 navbarMinTab:my-9 navbarTab:m-3 navbarTab:my-9 navbarTab:mb-12 m-7 mb-10">
                    <button class="hidden navbarPhone:block absolute w-6 h-6" onclick="closeSidebar()">
                        <img alt="CloseIcon" src="{% static 'icons/CloseMenuIcon.png'%}" />
                    </button>
                    <img alt="Logo Scolarite" src="{% static 'icons/LogoPng.png' %}" />
                </div>
                <span class="border-t border-solid border-lightcolor opacity-50"></span>
                <div class="mt-4">
                    <ul>
                        <li
                            class="flex gap-[17px] navbarMinTab:gap-2 navbarMinTab:pl-[2vw] pl-[2.7vw] navbarTab:pl-5 pt-[17px] pb-[17px] items-center content-center text-[15px] navbarMinTab:text-xs navbarTab:text-sm navbarPhone:pl-10 text-lightcolor hover:bg-buttonhover cursor-pointer hoverButtonTransition">
                            <img class="w-[22px] h-[22px] navbarMinTab:w-3 navbarMinTab:h-3 navbarTab:w-5 navbarTab:h-5"
                                alt="Dashboard Icon" src="{% static 'icons/DashboardIcon.png' %}" />
                            Administration
                        </li>
                        <li
                            class="flex gap-[17px] navbarMinTab:gap-2 navbarMinTab:pl-[2vw] pl-[2.7vw] navbarTab:pl-5 pt-[17px] pb-[17px] items-center content-center text-[15px] navbarMinTab:text-xs navbarTab:text-sm navbarPhone:pl-10 text-lightcolor hover:bg-buttonhover cursor-pointer hoverButtonTransition">
                            <img class="w-[22px] h-[22px] navbarMinTab:w-3 navbarMinTab:h-3 navbarTab:w-5 navbarTab:h-5"
                                alt="Dashboard Icon" src="{% static 'icons/AnnounceIcon.png' %}" />
                            Annonce
                        </li>
                        <li
                            class="flex gap-[17px] navbarMinTab:gap-2 navbarMinTab:pl-[2vw] pl-[2.7vw] navbarTab:pl-5 pt-[17px] pb-[17px] items-center content-center text-[15px] navbarMinTab:text-xs navbarTab:text-sm navbarPhone:pl-10 text-lightcolor hover:bg-buttonhover cursor-pointer hoverButtonTransition">
                            <img class="w-[22px] h-[22px] navbarMinTab:w-3 navbarMinTab:h-3 navbarTab:w-5 navbarTab:h-5"
                                alt="Dashboard Icon" src="{% static 'icons/SyllabusIcon.png' %}" />
                            Cours en ligne
                        </li>
                        <li
                            class="flex gap-[17px] navbarMinTab:gap-2 navbarMinTab:pl-[2vw] pl-[2.7vw] navbarTab:pl-5 pt-[17px] pb-[17px] items-center content-center text-[15px] navbarMinTab:text-xs navbarTab:text-sm navbarPhone:pl-10 text-lightcolor hover:bg-buttonhover cursor-pointer hoverButtonTransition">
                            <img class="w-[22px] h-[22px] navbarMinTab:w-3 navbarMinTab:h-3 navbarTab:w-5 navbarTab:h-5"
                                alt="Dashboard Icon" src="{% static 'icons/SyllabusGraduatedIcon.png' %}" />
                            Notes
                        </li>
                        <li
                            class="flex gap-[17px] navbarMinTab:gap-2 navbarMinTab:pl-[2vw] pl-[2.7vw] navbarTab:pl-5 pt-[17px] pb-[17px] items-center content-center text-[15px] navbarMinTab:text-xs navbarTab:text-sm navbarPhone:pl-10 text-lightcolor hover:bg-buttonhover cursor-pointer hoverButtonTransition">
                            <img class="w-[22px] h-[22px] navbarMinTab:w-3 navbarMinTab:h-3 navbarTab:w-5 navbarTab:h-5"
                                alt="Dashboard Icon" src="{% static 'icons/TestPassedIcon.png' %}" />
                            Scolarite
                        </li>
                        <li
                            class="flex gap-[17px] navbarMinTab:gap-2 navbarMinTab:pl-[2vw] pl-[2.7vw] navbarTab:pl-5 pt-[17px] pb-[17px] items-center content-center text-[15px] navbarMinTab:text-xs navbarTab:text-sm navbarPhone:pl-10 text-lightcolor hover:bg-buttonhover cursor-pointer hoverButtonTransition">
                            <img class="w-[22px] h-[22px] navbarMinTab:w-3 navbarMinTab:h-3 navbarTab:w-5 navbarTab:h-5"
                                alt="Dashboard Icon" src="{% static 'icons/BotIcon.png' %}" />
                            Bot Support
                        </li>
                    </ul>
                </div>
                <div
                    class="flex flex-col mt-auto gap-5 pr-9 pl-[32px] pb-5 relative bottom-0 navbar navbarMinTab:pr-4 navbarMinTab:pl-4">
                    <span class="border-t border-solid border-lightcolor opacity-50"></span>
                    <span class="self-end text-lightcolor navbarTab:text-sm navbarMinTab:text-xs">univercell AE</span>
                </div>
            </div>
        </div>
        <div id="mainContent" class="w-4/5 flex flex-col gap-[60px] ml-11 mt-4 mr-11">
            <!--Navigation (shows page path)-->

            <!--Profile-->
            <div class="Profile flex gap-[0.5rem] items-center ml-auto ">
                <img class="" src="../../../theme/static/icons/notif.png" alt="">
                <div class="User-Profile flex flex-col text-right">
                    <span class="User text-[0.875rem] font-normal">Monir Chelh</span>
                    <span class="Role text-[0.625rem] font-light text-[#7e7e7e]">Administrator</span>
                </div>
                <img src="../../../theme/static/icons/UserPic.png" alt="">



            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/script.js'%}" />
    {% django_browser_reload_script %}
    </body>

</html>