{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <title>{% block title %}{% endblock %} | Dashboard University</title>
        {% tailwind_css %}
    </head>
    <body class="bg-lightcolor">
        <div class="flex flex-row justify-between">
            <div class="flex flex-col w-1/5 bg-bluecharcoal h-screen">
                <div class="m-7">
                    <img alt="Logo Scolarite" src="{% static 'icons/LogoPng.png' %}"/>
                </div>
                {% comment %} <span class="border-[1px] border-[#f1f1f1]"></span> {% endcomment %}
                <div class="mt-4 font-['Poppins']">
                    <ul>
                        <li class="flex gap-[17px] pl-[40px] pt-[17px] pb-[17px] content-center text-[15px] text-lightcolor hover:bg-buttonhover cursor-pointer">
                            <img class="w-[22px] h-[22px]" alt="Dashboard Icon" src="{% static 'icons/DashboardIcon.png' %}" />
                            Administration
                        </li>
                        <li class="flex gap-[17px] pl-[40px] pt-[17px] pb-[17px] content-center text-[15px] text-lightcolor hover:bg-buttonhover cursor-pointer">
                            <img class="w-[22px] h-[22px]" alt="Dashboard Icon" src="{% static 'icons/AnnounceIcon.png' %}" />
                            Annonce
                        </li>
                        <li class="flex gap-[17px] pl-[40px] pt-[17px] pb-[17px] content-center text-[15px] text-lightcolor hover:bg-buttonhover cursor-pointer">
                            <img class="w-[22px] h-[22px]" alt="Dashboard Icon" src="{% static 'icons/SyllabusIcon.png' %}" />
                            Cours en ligne
                        </li>
                        <li class="flex gap-[17px] pl-[40px] pt-[17px] pb-[17px] content-center text-[15px] text-lightcolor hover:bg-buttonhover cursor-pointer">
                            <img class="w-[22px] h-[22px]" alt="Dashboard Icon" src="{% static 'icons/SyllabusGraduatedIcon.png' %}" />
                            Notes
                        </li>
                        <li class="flex gap-[17px] pl-[40px] pt-[17px] pb-[17px] content-center text-[15px] text-lightcolor hover:bg-buttonhover cursor-pointer">
                            <img class="w-[22px] h-[22px]" alt="Dashboard Icon" src="{% static 'icons/TestPassedIcon.png' %}" />
                            Scolarite
                        </li>
                        <li class="flex gap-[17px] pl-[40px] pt-[17px] pb-[17px] content-center text-[15px] text-lightcolor hover:bg-buttonhover cursor-pointer">
                            <img class="w-[22px] h-[22px]" alt="Dashboard Icon" src="{% static 'icons/BotIcon.png' %}" />
                            Bot Support
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col mt-auto gap-[22px] mr-[35px] ml-[32px] mb-[24px] justify-end">
                    {% comment %} <span style="border: 0.5px solid #F1F1F1"></span> {% endcomment %}
                    <span class="self-end text-lightcolor">univercell AE</span>
                </div>
            </div>
            <div class="w-4/5">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% comment %} <script type="text/javascript">
            function dropdown() {
                document.querySelector("#submenu").classList.toggle("hidden");
                document.querySelector("#arrow").classList.toggle("rotate-0");
            }
            dropdown();

            function openSidebar() {
                document.querySelector(".sidebar").classList.toggle("hidden");
            }
    </script> {% endcomment %}
    </body>
</html>
