{% extends 'core/base.html' %}

{% block content %}
  
<!-- Suprior Card -->
    <div class="rounded-[5px] shadow-sm bg-[white] pb-20 mx-3 mt-7 gestionnotesmenuadmin:mx-0">
        <div  class="shadow-sm py-6 bg-[#1C4E80] relative ml-5 mr-5 rounded-[5px] flex items-center bottom-8 gestionnotesmenuadmin:justify-center">
            <p class="ml-[35px] text-xl text-lightcolor font-semiBold gestionnotesmenuadmin:text-lg gestionnotesmenuadmin:ml-0"> Gestion d'Absence </p>
        </div>


        <div class="Content flex gap-16 flex-wrap justify-center mt-6 gestionnotesmenuadmin:gap-12">

             <!--This is option01-->
            <a href="">
             <div class="w-[300px] h-[100px] flex bg-[#F1F1F1] rounded-[5px] shadow-sm justify-between items-center gestionnotesmenuadmin:w-[250px] gestionnotesmenuadmin:h-[90px]">
                <div  class="shadow-sm w-[90px] h-[90px] bg-denimcolor rounded-[5px] flex justify-center items-center p-2.5 mb-8 ml-5 gestionnotesmenuadmin:ml-0 gestionnotesmenuadmin:mb-0 gestionnotesmenuadmin:h-full">
                    <img  src="/theme/static/icons/correctionNotes.png" alt="icon">
                </div>
                <p class="text-darkcolor text-lg font-poppin mr-8 gestionnotesmenuadmin:mr-2 gestionnotesmenuadmin:text-sm">Correction <br> &emsp;des notes</p>
             </div>
            </a>

             <!--This is option02-->
            <a href="">
             <div class="w-[300px] h-[100px] bg-[#F1F1F1] rounded-[5px] shadow-sm flex justify-between items-center gestionnotesmenuadmin:w-[250px] gestionnotesmenuadmin:h-[90px]">
                <div  class="shadow-sm w-[90px] h-[90px] bg-smoothgreen rounded-[5px] flex justify-center items-center p-2.5 mb-8 ml-5 gestionnotesmenuadmin:ml-0 gestionnotesmenuadmin:mb-0 gestionnotesmenuadmin:h-full">
                    <img  src="/theme/static/icons/suiviNotes.png" alt="icon">
                </div>
                  <p class="text-darkcolor text-lg font-poppin mr-8 gestionnotesmenuadmin:mr-2 gestionnotesmenuadmin:text-sm">Suivi <br> &emsp;des notes  </p>
             </div>
            </a>

            <!--This is option03-->
           <a href="">
              <div class="w-[300px] h-[100px] bg-[#F1F1F1] rounded-[5px] shadow-sm flex justify-between items-center gestionnotesmenuadmin:w-[250px] gestionnotesmenuadmin:h-[90px]">
                 <div  class="shadow-sm w-[90px] h-[90px] bg-daredvilleorange rounded-[5px] flex justify-center items-center p-2.5 mb-8 ml-5 gestionnotesmenuadmin:ml-0 gestionnotesmenuadmin:mb-0 gestionnotesmenuadmin:h-full">
                     <img  src="/theme/static/icons/maquettenotes.png" alt="icon">
                 </div>
                      <p class="text-darkcolor text-lg font-poppin mr-8 gestionnotesmenuadmin:mr-2 gestionnotesmenuadmin:text-sm">Maquette<br> &emsp; des notes </p>
                  </div>
             </a>

              <!--This is option04-->
           <a href="">
            <div class="w-[300px] h-[100px] bg-[#F1F1F1] rounded-[5px] shadow-sm flex justify-between items-center gestionnotesmenuadmin:w-[250px] gestionnotesmenuadmin:h-[90px]">
               <div  class="shadow-sm w-[90px] h-[90px] bg-denimcolor rounded-[5px] flex justify-center items-center p-2.5 mb-8 ml-5 gestionnotesmenuadmin:ml-0 gestionnotesmenuadmin:mb-0 gestionnotesmenuadmin:h-full">
                   <img  src="/theme/static/icons/finalNotes.png" alt="icon">
               </div>
                    <p class="text-darkcolor text-lg font-poppin mr-8 gestionnotesmenuadmin:mr-2 gestionnotesmenuadmin:text-sm">Notes finales</p>
                </div>
           </a>

            <!--This is option05-->
            <a href="">
                <div class="w-[300px] h-[100px] bg-lightcolor rounded-[5px] shadow-sm flex justify-between items-center gestionnotesmenuadmin:w-[250px] gestionnotesmenuadmin:h-[90px]">
                   <div  class="shadow-sm w-[90px] h-[90px] bg-smoothgreen rounded-[5px] flex justify-center items-center p-2.5 mb-8 ml-5 gestionnotesmenuadmin:ml-0 gestionnotesmenuadmin:mb-0 gestionnotesmenuadmin:h-full">
                       <img  src="/theme/static/icons/rattnotes.png" alt="icon">
                   </div>
                        <p class="text-darkcolor text-lg font-poppin mr-4 gestionnotesmenuadmin:mr-2 gestionnotesmenuadmin:text-sm">Session <br> &emsp;de rattrapages</p>
                    </div>
               </a>

                <!--This is option06-->
           <a href="">
            <div class="w-[300px] h-[100px] bg-[#F1F1F1] rounded-[5px] shadow-sm flex justify-between items-center gestionnotesmenuadmin:w-[250px] gestionnotesmenuadmin:h-[90px]">
               <div  class="shadow-sm w-[90px] h-[90px] bg-daredvilleorange rounded-[5px] flex justify-center items-center p-2.5 mb-8 ml-5 gestionnotesmenuadmin:ml-0 gestionnotesmenuadmin:mb-0 gestionnotesmenuadmin:h-full">
                   <img  src="/theme/static/icons/sessionormal.png" alt="icon">
               </div>
                    <p class="text-darkcolor text-lg font-poppin mr-8 gestionnotesmenuadmin:mr-2 gestionnotesmenuadmin:text-sm">Session <br> &emsp;normale</p>
                </div>
           </a>
        </div>
    </div>
{% endblock %}