{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="Content flex gap-[50px] flex-wrap justify-center mt-[50px]">
    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>


    </div>


    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>


    </div>
    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>





    </div>

    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>




    </div>
    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>


    </div>
    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>
    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>

    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>

    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>

    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>

    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>

    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>


    <!--This is a Card-->
    <div class="w-[213px] h-[236px] relative bg-[white] rounded-[5px] shadow-sm">
        <div
            class="shadow-sm absolute ml-[16px] top-[-10%] w-[70px] h-[70px] bg-denimcolor rounded-[5px] flex justify-center items-center">
            <img class="w-[26px] h-[26px]" src="../../../theme/static/icons/GroupIcon.png" alt="">
        </div>
        <div class="flex flex-col font-[500]">
            <span class="text-right w-[50%] mr-[16px] mt-[6px] ml-auto text-[14px] text-[#7E909A] font-[500]">Releves de
                notes</span>

            <span class="text-[24px] ml-auto mr-[16px] mt-[10px]">489</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

            <span class="mt-[8px] mb-[8px] flex text-[10px] gap-1 ml-[16px]">
                <img class=" max-h-[15px] max-w-[15px]" src="../../../theme/static/icons/stats.png" alt="">
                Total des demades enregistres</span>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Non corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Corrigés</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>
            <div class="mt-[8px] mb-[8px] mr-[16px] ml-[16px] flex text-[10px]">
                <span>Refus</span>
                <span class="ml-auto">100</span>
            </div>
            <span class="mr-[16px] ml-[16px] border-t border-solid border-lightcolor opacity-100"></span>

        </div>
    </div>

</div>

{% endblock %}