{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>

    {% comment %} FavIcon for all the platforms {% endcomment %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css%22%3E"> {% endcomment %}
  {% tailwind_css %}
</head>
<body class="bg-darkcolor">
  <div class="flex justify-center items-center h-screen">
    <img class="border-y border-b-lightcolor" alt="Logo Scolarite" src="{% static 'icons/img1.png' %}" />

    <div class="bg-lightcolor p-8 rounded shadow-md">
      <h1 class="text-2xl font-bold mb-4">Connexion</h1>
      <form>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="email">
            Adresse e-mail
          </label>
          <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Entrez votre adresse e-mail">
        </div>
        <div class="mb-6">
          <label class="block text- font-bold mb-2" for="password">
            Mot de passe
          </label>
          <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Entrez votre mot de passe">
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-testColor hover:bg-blue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Se connecter
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
            Mot de passe oublié ?
          </a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>