{% load static tailwind_tags %}

{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="fr">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>

    {% comment %} FavIcon for all the platforms {% endcomment %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <link rel="stylesheet" type="text/css" href="../../../theme/static/css/base.css">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css%22%3E"> {% endcomment %}
  {% tailwind_css %}
</head>
  <body>
    <section class="bg-lightcolor min-h-screen flex items-center justify-center">
      {% comment %} login container{% endcomment %}

      {% comment %} Global div {% endcomment %}
      <div class="bg-whte2 flex shadow-lg max-w-3xl rounded-lg">

        {% comment %} div For the containte {% endcomment %}

        <form class="flex flex-col items-center justify-center rounded-md bg-clearwhite" action="" method="post">

          <div class="flex flex-col justify-center items-center">
            <img  class="w-60 p-3" alt="image" src="{% static 'icons/logo.png' %}" />
          </div>

          <div class="flex flex-col justify-center rounded  gap-1">
            <h2 class="font-bold text-[#202020]  text-5 center  p-4  ml-28" > Service de Scolarité</h2>

            <input type="email" name="userEmail" placeholder="Adresse e-mail" class= "w-80 h-9 ml-12 mr-6  bg-while px-2 py-2 mt-2 border focus:bg-skybleau focus:outline-none   p-9 border-b-1  border-l-0 border-r-0 border-t-0" required>
            <input type="password" name="Password" placeholder="saisissez votre mot de passe" class= "w-80 h-9 ml-12 mr-6 bg-while px-2 py-2 mt-2 border focus:bg-skybleau focus:outline-none p-9 border-b-1  border-l-0 border-r-0 border-t-0" required>

            <button type="Submit" class="bg-buttonhover rounded p-2 w-52 mt-5 ml-24 h-10 text-[#f1f5f9] hover:bg-skybleu2 active:bg-skybleu2 focus:outline-none focus:ring focus:bg-skybleu2
            font-bold ">CONNEXION</button>
          </div>

          <div class=" p-2 mt-2 grid-cols-3 flex justify-center text-4  mr-1 ml-4 ">
          <button class= "text-[#1C4E80]">Mot de passe oublié ?</button>
          </div>

          <footer class="text-[#EA6A47] text-center p-5 mr-2 ml-3">
            <p>univercell AE</p>
          </footer>

        
        </form>

                {% comment %} div For the image {% endcomment %}
        <div class="slider relative ml-2 loginimagehide:hidden">
          
          <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="slide first">
              <img src="../../../theme/static/image/Img1.png" alt="" />
            </div>
            <div class="slide">
              <img src="../../../theme/static/image/Img2.png" alt="" /> 
            </div>
            <div class="slide">
              <img src="../../../theme/static/image/Img3.png" alt="" /> 
            </div>
            <div class="slide">
              <img src="../../../theme/static/image/Img4.png" alt="" /> 
            </div>
            
            <div class="navigation-auto">
              <div class="auto-btn1"></div>
              <div class="auto-btn2"></div>
              <div class="auto-btn3"></div>
              <div class="auto-btn4"></div>
            </div>
          </div>

          <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
          </div>

        </div>
        
      </div>

    </section>

    <script src="{% static 'js/loginAnimation.js'%}" />
    {% django_browser_reload_script %}
  </body>
</html>