{% extends 'core/base.html' %}

{% block title %}Modifier Mot de Passe{% endblock %}

{% block content %}

<!-- Suprior Card -->
    <div class="rounded-[5px] shadow-sm bg-white pb-20 mx-3 mt-7 ">
        <div  class="shadow-sm py-6 bg-[#1C4E80] relative ml-5 mr-5 rounded-[5px] flex items-center bottom-8 ">
            <p class="ml-[35px] text-xl text-lightcolor font-semiBold ">Modifier Votre Mot de Passe</p>
        </div>


        <div class="flex  items-center " >

            <form class="">
                <div class=" m-2 " >
                    <label for="password" class=" text-sm " style="color:#94a3b8;">Password Actuel</label>
                    <input  type="password" name="#"  class=" w-[270px] h-7   px-5 pr-10 rounded-full text-sm required focus:outline-none" style="background-color : #D5DEE8;  border: 0;">       
                </div>
            
                <div class="m-2">
                    <label for="password" class="  text-sm " style="color:#94a3b8;">Nouveau Password</label>
                    <input  type="password" name="#"  class=" w-[270px] h-7   px-5 pr-10 rounded-full text-sm required focus:outline-none" style="background-color : #D5DEE8;  border: 0;" >
                </div>

                <div class="m-2 ">
                    <label for="password" class="text-sm " style="color:#97a4b6;">Reconfirmez Nouveau Password</label>
                    <input  type="password" name="#"  class=" w-[270px] h-7 px-5 pr-10 rounded-full text-sm required focus:outline-none" style="background-color : #D5DEE8;  border: 0;">
                </div>

                <div class="m-2">
                    <input type="checkbox" name="confirmation"  class="rounded-md border-x-mediumcoolGray bg-[#e2e2e2]" >
                    <label for="confirmation" class="text-sm " style="color:#97a4b6;">Je Confirme</label>
                </div>
              

                <button id="submit" class="bg-loyalblue hover:bg-lightblue text-white text-sm rounded-md  py-2  px-5">Changer Password</button>
                        
                    
            </form>
        </div> 

    </div>
{% endblock %}