{% extends '../core/base.html' %}

{% block title %} Update {% endblock %}

{% block content %}

<div class="flex flex-wrap justify-items-center gap-[5px] -mt-20 md:-mt-10 SmallScreen:-mt-6">
    <img src="../../../theme/static/icons/Home.png" class="w-5 h-4" alt="icon-home" />
    <img src="../../../theme/static/icons/nextIcon.png" class="w-2 h-2 mt-1.5" alt="next home icon" />
    <span class="text-sm">Gestion des Notes</span>
    <img src="../../../theme/static/icons/nextIcon.png" class="w-2 h-2 mt-1.5" alt="next home icon" />
    <span class="text-sm">Modifier une Note</span>
</div>

<div class="bg-lightcolor flex flex-col items-align ajoutAnnonceBig:mx-10 inputUpdateStyle">
    <div
        class="bg-loyalblue rounded-md flex flex-col pt-4 pb-3 px-6 mx-7 text-lightcolor z-[2] ajoutAnnonceMobile:px-0 ajoutAnnonceTab:justify-center ajoutAnnonceTab:items-center">
        <h1 class="font-semiPoppin text-xl ajoutAnnonceMobile:text-base">Gestion des Notes</h1>
        <p class="ajoutAnnonceMobile:text-sm">Modifier une Note</p>
    </div>
    <div class="flex justify-center bg-clearwhite relative bottom-8 rounded-md px-10">
        <form class="pt-16 flex flex-col gap-8 pb-10 w-[50%]" method="POST">
            {% csrf_token %}
            <div
                class="flex justify-around ajoutAnnonceTab:flex-col ajoutAnnonceTab:gap-2 ajoutAnnonceTab:items-center">
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24 ">Apogee</label>
                    <select class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                        name="apogee" id="apogee" required>

                        <option value="{{ note.apogee }}">
                            {{ note.apogee.apogee }} {{note.apogee.nomfr}} {{note.apogee.prenomfr}}</option>

                    </select>
                </div>
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24 ">N°
                        Examen</label>
                    <input id="n_examen" type="number" name="n_examen"
                        class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                        placeholder="{{note.note}}" value="{{note.n_examen}}" autocomplete="off" required />
                </div>
            </div>
            <div
                class="flex justify-around ajoutAnnonceTab:flex-col ajoutAnnonceTab:gap-2 ajoutAnnonceTab:items-center">
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24 ">Session</label>
                    <select name="session"
                        class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2" required>

                        <option value="N">Normal</option>
                        <option value="R">Rattrapage</option>

                    </select>
                </div>
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24 ">Salle</label>
                    <select class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                        name="id_local" id="id_local" required>
                        {% for salle in salles %}
                        <option value="{{ salle.id_local }}">
                            {{ salle.id_local }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div
                class="flex justify-around ajoutAnnonceTab:flex-col ajoutAnnonceTab:gap-2 ajoutAnnonceTab:items-center">
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24 ">Module</label>
                    <select class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                        name="id_modmat" id="id_modmat" required>
                        {% for module in request.user.module_set.all %}
                        <option value="{{ module.id_modmat }}"
                            {% if module.id_modmat == id_modmat %}selected{% endif %}>
                            {{ module.intulite_ar }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24">Date
                        Debut</label>
                    <input value="h_debut" id="h_debut" type="datetime-local" name="h_debut"
                        class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                        placeholder="Enter Note" autocomplete="off" required />
                </div>

            </div>
            <div
                class="flex justify-around  ajoutAnnonceTab:flex-col ajoutAnnonceTab:gap-2 ajoutAnnonceTab:items-center">
                <div class="inputClass flex flex-col  gap-2 ">
                    <label class="text-bluecharcoal text-base w-24 ">Note</label>
                    <input id="note" type="number" name="note"
                        class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                        placeholder="Entrer La note " autocomplete="off" required max="20" min="0"
                        value="{{note.note}}" />
                </div>


            </div>






            {% if errorApogee %}
            <div class="inputClass flex items-center justify-center bg-daredvilleorange py-2 rounded-sm">
                <p class=" text-white">This Apogee code does not exist please enter another one</p>
            </div>
            {% endif %}
            <div class="flex justify-center items-center py-2">
                <button class="bg-loyalblue hover:bg-bluecharcoal py-3 px-5 rounded-md text-lightcolor"
                    type="submit">New Note</button>
            </div>
        </form>
    </div>
</div>



{% endblock %}