{% extends 'core/base.html' %}
{% block title %} Search note{% endblock  %}

{% block content %}

<div class="Content flex justify-center sScreen:block  ">
  <div class="sScreen:items-center w-full">
      <div class="relative bg-loyalblue flex flex-col rounded-md shadow-sm mx-8 z-[2] ecoursMScreen:justify-center p-4">
          <p class="font-poppin text-justify text-lg text-lightcolor ml-5">Saisie des notes</p>
          <p class="font-poppin text-justify text-sm text-lightcolor ml-6">Liste des notes</p>
      </div>
  
        <form class="relative flex flex-col items-center justify-center bg-white pt-20 pb-8 gap-12 bottom-8">
            <div class="grid grid-cols-2 ecoursScreen:grid-cols-1 ecoursMScreen:grid-cols-1 ecoursMScreen:mx-auto items-center justify-center gap-10 ecoursScreen:flex-col ecoursMScreen:flex-col ecoursMScreen:text-sm">
                <div class="flex items-center justify-between w-96 ecoursMScreen:w-64">
                    <label class="font-poppin opacity-30">Examen</label>
                    <select name="AnneeUni" class="flex w-36 rounded-full bg-opacity-50  bg-BroderGris text-gray-800 outline-none border-BroderGris cursor-pointer py-1 px-4 smScreen:w-1/4 smScreen:mx-auto ecoursMScreen:px-2 ecoursMScreen:text-sm">
                        <option selected disabled hidden>Select</option>
                        <option>Normale</option>
                        <option>Rattrapage</option>
                       
                    </select>
                </div>
                <div class="flex items-center justify-between w-96 ecoursMScreen:w-64 ecoursMScreen:text-sm">
                    <label class="font-poppin opacity-30">Semestre</label>
                    <select class="flex w-36 rounded-full bg-opacity-50 bg-BroderGris border-BroderGris text-gray-800 outline-none cursor-pointer py-1 px-4 ecoursMScreen:px-2  smScreen:w-1/4 smScreen:mx-auto ecoursMScreen:text-sm">
                        <option selected disabled hidden>Select</option>
                        <option>Smestere  1 </option>
                        <option>Smestere  2 </option>
                        <option>Smestere  3 </option>
                        <option>Smestere  4 </option>
                        <option>Smestere  5 </option>
                        <option>Smestere  6 </option>

                    </select>
                </div>
                <div class="flex items-center justify-between w-96 ecoursMScreen:w-64 ecoursMScreen:text-sm">
                  <label class="font-poppin opacity-30">Rechercher Par</label>
                  <select class="flex w-36 rounded-full bg-opacity-50 bg-BroderGris  border-BroderGris outline-none cursor-pointer  smScreen:w-20 smScreen:mx-auto py-1 px-4 ecoursMScreen:px-2 ecoursMScreen:text-sm">
                      <option selected disabled hidden>Select</option>
                      <option>section</option>
                      <option>Nom</option>
                  </select>
                 
              </div>
              <div class="flex flex-row items-center justify-center w-64 smScreen:mx-auto  ecoursScreen:mx-auto ecoursMScreen:w-64 ecoursMScreen:text-sm  ecoursMScreen:mx-auto coursScreen:mx-auto">
                <input type="search" name="serch" placeholder="Search" class="bg-BroderGris w-full border-BroderGris h-10 px-5 pr-10 rounded-full text-sm focus:outline-none">
            </div>
              <div class="flex flex-row items-center justify-center  ml-64  ecoursMScreen:mx-auto ecoursScreen:mx-auto ecoursScreen:items-center ecoursMScreen:justify-center ecoursMScreen:w-64 ecoursMScreen:text-sm  ">
                <button id="submit" class="bg-loyalblue  hover:bg-lightblue text-white rounded-md py-3 px-10 ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                  </svg>
            </div>
            
        </form>
      
    </div>
   
    <div class="mt-10 justify-center rounded">
      <div class="flex flex-col mt-10">
          <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full bg-white">
                  <thead class="border-b border-l-greyS">
                    <tr>
                      <th scope="col" class="text-sm font-medium  text-greyS px-6 py-4 text-left">
                        num
                      </th>
                      <th scope="col" class="text-sm font-medium  text-greyS px-6 py-4 text-left">
                        Etudiant
                      </th>
                      <th scope="col" class="text-sm font-medium  text-greyS px-6 py-4 text-left">
                        Note
                      </th>
                      <th scope="col" class="text-sm font-medium  text-greyS px-6 py-4 text-left">
                        Numéro d'Examen
                      </th>
                      <th scope="col" class="text-sm font-medium  text-greyS px-6 py-4 text-left">
                          Salle
                        </th>
                      <th scope="col" class="text-sm font-medium  text-greyS px-6 py-4 text-left">
                          section
                        </th>
                    </tr>
                    
                  </thead>
                  <tbody>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-mediumcoolGray">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                      <td class="text-sm  text-greyS0 font-light px-6 py-4 whitespace-nowrap">
                        Oumaima
                      </td>
                      <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                        sdzd
                      </td>
                      <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                        cdc
                      </td>
                      <td class="text-sm  text-greySfont-light px-6 py-4 whitespace-nowrap">
                          fff
                        </td>
                        <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                      rrf
                        </td>
                    </tr>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-mediumcoolGray">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                      <td class="text-sm  text-greyS0 font-light px-6 py-4 whitespace-nowrap">
                        Oumaima
                      </td>
                      <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                        sdzd
                      </td>
                      <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                        cdc
                      </td>
                      <td class="text-sm  text-greySfont-light px-6 py-4 whitespace-nowrap">
                          fff
                        </td>
                        <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                      rrf
                        </td>
                    </tr>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-mediumcoolGray">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                      <td class="text-sm  text-greyS0 font-light px-6 py-4 whitespace-nowrap">
                        Oumaima
                      </td>
                      <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                        sdzd
                      </td>
                      <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                        cdc
                      </td>
                      <td class="text-sm  text-greySfont-light px-6 py-4 whitespace-nowrap">
                          fff
                        </td>
                        <td class="text-sm  text-greyS font-light px-6 py-4 whitespace-nowrap">
                      rrf
                        </td>
                    </tr>
                  
                    
                  </tbody>
                </table>
              </div>
  </div>
 
</div>



{% endblock %}