{% extends 'core/base.html' %}

{% block title %} Annonce {% endblock %}
{% block content %}

<div class="flex flex-wrap justify-items-center gap-[5px] -mt-20 md:-mt-10 SmallScreen:-mt-6 w-max">
    <img src="../../../theme/static/icons/Home.png" class="w-5 h-4" alt="icon-home" />
    <img src="../../../theme/static/icons/nextIcon.png" class="w-2 h-2 mt-1.5" alt="next home icon" />
    <span class="text-sm">Notes</span>
</div>
<div class="flex flex-col gap-6">
    <div
        class="Content flex flex-wrap justify-between mt-[40px] items-center justify-items-center AnnounceViewport:gap-4 AnnounceViewport:mt-0">
        <a href="{% url 'addNote'%}">
            <button
                class="bg-lightgreen hover:bg-bluecharcoal text-lightcolor py-3 px-4 rounded flex justify-around items-center  w-[160px] hoverButtonTrasitionFast">
                <img src="../../../theme/static/icons/ComposeNote.png" class="" alt="compose">
                <span class="ml-2 font-medium">Add Note</span>
            </button>
        </a>
        {% if messages%}
            {% for message in messages %}
            <p class="text-lightgreen  addNoteMobile:hidden ">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <div
            class="flex gap-[50px] flex-wrap justify-items-center items-center self-end AnnounceViewport:place-self-auto AnnounceViewport:gap-3">
            <button id="thisss"
                class="bg-filter hover:bg-bluecharcoal hover:text-[white] text-[black] font-semibold py-2.5 px-4 rounded flex justify-center items-center w-[160px] hoverButtonTrasitionFast">
                <span class="">Filter</span>
                <img src="../../../theme/static/icons/FilterIcon.png" class=" ml-2 w-4 h-4" alt="filter Icon">

            </button>


        </div>

    </div>
    <form id="filter-this" method="GET" class="flex flex-col self-end gap-6">
        <div class="flex self-end gap-2">
            <div class="inputClass flex  gap-2 items-center">
                <label class="text-bluecharcoal text-base">Apogee</label>
                <select class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2" name="apogee"
                    id="apogee">
                    <option value>----</option>
                    {% for etudiant in Etudiants %}
                    <option value="{{ etudiant.apogee }}">
                        {{ etudiant.apogee }} {{etudiant.nomfr}} {{etudiant.prenomfr}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="inputClass flex items-center  gap-2 ">
                <label class="text-bluecharcoal text-base ">Session</label>
                <select name="session" class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2">
                    <option value>----</option>
                    <option value="N">Normal</option>
                    <option value="R">Rattrapage</option>

                </select>
            </div>
            <div class="inputClass flex items-center  gap-2 ">
                <label class="text-bluecharcoal text-base ">Date</label>
                <input value="start_date" id="start_date" type="date" name="start_date"
                    class="gestionEtudiants:self-center rounded-[5px] text-[0.9rem] w-[200px] py-2"
                    placeholder="Enter Note" autocomplete="off" />
            </div>
        </div>
        <div
            class="flex gap-[50px] flex-wrap justify-items-center items-center self-end AnnounceViewport:place-self-auto AnnounceViewport:gap-3 ">
            <button type="submit"
                class="bg-buttonhover hover:bg-bluecharcoal text-[white] hover:text-[black] font-semibold py-2.5 px-4 rounded flex justify-center items-center w-[160px] hoverButtonTrasitionFast">
                <span class="">search</span>


            </button>


        </div>

    </form>

    {% if messages%}
    {% for message in messages %}
    <p class="text-lightgreen  addNote:hidden flex justify-center items-center">{{ message }}</p>
    {% endfor %}
    {% endif %}


    <div class="bg-white rounded-[5px] font-poppin font-normal AnnounceViewport:z-0">
        <div class=" flex flex-col gap-4">
            <div class="flex flex-col">
                <div
                    class="Content flex flex-wrap items-center justify-items-center justify-between p-4 borderBottomStyle AnnounceViewport:flex-col AnnounceViewport:gap-3 AnnounceViewport:relative">
                    <input id="link-checkbox" type="checkbox" value=""
                        class="cursor-pointer h-5 w-5 rounded-sm text-blue-600 border-darkcolor border-2 opacity-60 ml-4 navbarTab:ml-0  AnnounceViewport:absolute AnnounceViewport:left-4 AnnounceViewport:ml-0 focus:text-primary focus:ring-offset-0 focus:ring-0">
                    <p class="ecoursMScreen:text-xs">Nom et Prenom</p>
                    <p class="ecoursMScreen:text-xs">APOGEE</p>
                    <p class="ecoursMScreen:text-xs">Note</p>
                    <p class="ecoursMScreen:text-xs">Session</p>
                    <p class="ecoursMScreen:text-xs">Date</p>
                    <p class="ecoursMScreen:text-xs">Action</p>
                </div>
                <span class="bg-loyalblue w-full h-[2px]"></span>
            </div>
        </div>

        {% for note in notes %}
        <!-- Modal Code -->
            <section class="modal hidden justify-center" id="{{note.id}}" info="{{note}}">
                <div class=" flex flex-col justify-center items-center gap-2">
                    <img src="../../theme/static/image/TrachImage.png" width="163" height="163" />
                    <h4 class="font-poppin font-medium text-center w-72">
                        Êtes-vous sûr de vouloir supprimer cette Note ?
                    </h4>
                    <p class="text-[12px] font-poppin font-normal opacity-60 modal-text">
                        "{{note.apogee.apogee}} : {{note.apogee.nomfr}} {{note.apogee.prenomfr}}"
                    </p>
                    <div class="flex gap-[30px] mt-5">
                        <button class="btn-close cancelButton">Cancel</button>
                        <a href="{% url 'deleteNote' note.id %}">
                            <button class="deleteButton">
                                Delete
                            </button>
                        </a>
                    </div>
                </div>
            </section>
            <div class="overlay hidden" id="{{note.id}}"></div>
            <!-- Modal Code -->

            <!--- this an annonce -->
            <div
                class="Content flex flex-wrap items-center justify-items-center justify-between p-4 borderBottomStyle AnnounceViewport:flex-col AnnounceViewport:gap-3 AnnounceViewport:relative">

                <input id="link-checkbox" type="checkbox" value=""
                    class="cursor-pointer h-5 w-5 rounded-sm text-blue-600 border-darkcolor border-2 opacity-60 ml-4 navbarTab:ml-0  AnnounceViewport:absolute AnnounceViewport:left-4 AnnounceViewport:ml-0 focus:text-primary focus:ring-offset-0 focus:ring-0">

                <div
                    class="flex flex-nowrap justify-items-center items-center gap-3 ml-5 navbarTab:ml-1 navbarTab:gap-1 AnnounceViewport:flex-col AnnounceViewport:ml-0">
                    <img src="../../../theme/static/image/UnknownUserImage.png"
                        class="w-8 h-8 AnnounceViewport:w-12 AnnounceViewport:h-12" alt="User Pics">
                    <span class="w-[120px] text-ellipsis text-sm AnnounceViewport:text-base text-center">{{note.apogee.prenomfr}} {{note.apogee.nomfr}}</span>
                </div>

                <span
                    class="largeScreen:w-[60px] text-center 3xl:text-base 3xl:ml-[3rem] 2xl:ml-20 text-sm AnnounceViewport:font-poppin">{{note.apogee.apogee}}</span>

                <span
                    class="largeScreen:w-[60px] text-center  3xl:text-base 3xl:ml-[2rem] 2xl:ml-20 text-sm AnnounceViewport:font-poppin">{{note.note}}</span>
                <span
                    class="largeScreen:w-[60px] text-center 3xl:text-base 3xl:ml-[4rem] 2xl:ml-20 text-sm AnnounceViewport:font-poppin">{{note.session}}</span>
                <span class="  text-ellipsis 2xl:ml-20 xl:ml-7 3xl:text-base text-sm 2xl:text-base navbarTab:hidden">
                    16-04-2023</span>



                <span class="text-center text-ellipsis md:text-base md:ml-20 ml-1 hidden navbarTab:block">16-04-2023</span>
                <div class="flex flex-wrap gap-4 mr-7 navbarTab:mr-2 AnnounceViewport:absolute AnnounceViewport:right-0">
                    <a href="{% url 'updateNote' note.id %}">
                        <button class="w-4 h-5 hover:fill-blue">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                                viewBox="0 0 30 30">
                                <path
                                    d="M 22.828125 3 C 22.316375 3 21.804562 3.1954375 21.414062 3.5859375 L 19 6 L 24 11 L 26.414062 8.5859375 C 27.195062 7.8049375 27.195062 6.5388125 26.414062 5.7578125 L 24.242188 3.5859375 C 23.851688 3.1954375 23.339875 3 22.828125 3 z M 17 8 L 5.2597656 19.740234 C 5.2597656 19.740234 6.1775313 19.658 6.5195312 20 C 6.8615312 20.342 6.58 22.58 7 23 C 7.42 23.42 9.6438906 23.124359 9.9628906 23.443359 C 10.281891 23.762359 10.259766 24.740234 10.259766 24.740234 L 22 13 L 17 8 z M 4 23 L 3.0566406 25.671875 A 1 1 0 0 0 3 26 A 1 1 0 0 0 4 27 A 1 1 0 0 0 4.328125 26.943359 A 1 1 0 0 0 4.3378906 26.939453 L 4.3632812 26.931641 A 1 1 0 0 0 4.3691406 26.927734 L 7 26 L 5.5 24.5 L 4 23 z">
                                </path>
                            </svg>
                        </button>
                    </a>

                    <button class="btn-open w-4 h-5 hover:fill-daredvilleorange" id="{{note.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M 10 2 L 9 3 L 5 3 C 4.4 3 4 3.4 4 4 C 4 4.6 4.4 5 5 5 L 7 5 L 17 5 L 19 5 C 19.6 5 20 4.6 20 4 C 20 3.4 19.6 3 19 3 L 15 3 L 14 2 L 10 2 z M 5 7 L 5 20 C 5 21.1 5.9 22 7 22 L 17 22 C 18.1 22 19 21.1 19 20 L 19 7 L 5 7 z M 9 9 C 9.6 9 10 9.4 10 10 L 10 19 C 10 19.6 9.6 20 9 20 C 8.4 20 8 19.6 8 19 L 8 10 C 8 9.4 8.4 9 9 9 z M 15 9 C 15.6 9 16 9.4 16 10 L 16 19 C 16 19.6 15.6 20 15 20 C 14.4 20 14 19.6 14 19 L 14 10 C 14 9.4 14.4 9 15 9 z">
                            </path>
                        </svg>
                    </button>
                </div>

            </div>
        {% endfor %}

    </div>

    <div class="flex items-center justify-center mb-10 mx-10 pb-2">
        <button class="text-[black] py-3 px-4 rounded font-poppin font-normal flex items-center gap-3">
            <span>Load
                more</span><img src="../../theme/static/icons/arrowdown.png"></button>
    </div>

</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var toggleButton = document.getElementById("thisss");
        console.log(toggleButton);
        var filter = document.getElementById("filter-this");

        toggleButton.addEventListener("click", function () {
            if (filter.classList.contains("hidden")) {
                filter.classList.remove("hidden");
            } else {
                filter.classList.add("hidden");
            }
        });
    });
</script>
<script src="../../../theme/static/js/modalLogic.js" />


{% endblock%}