/* for styling the icons and other things */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.icons {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.announceIcon {
  background-image: url("/static/icons/AnnounceIcon.png");
}

.navbar {
  z-index: 10;
  background-color: #22282e;
}
.navbar li {
  background-color: #22282e;
}

.sidebar {
  left: -296px;
}

.toggleNavbar{
  left: 0;
}

.hoverButtonTransition {
  transition: 0.3s ease-in-out all;
}

/* Importing The fonts for tailwind work :: //Younelma Edited this. */

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.font-bold {
  font-weight: 700;
}
