/* for styling the icons and other things */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icons {
    display: inline-block;
    width: 22px;
    height: 22px;
}
.announceIcon {
    background-image: url('/static/icons/AnnounceIcon.png');
}