{% load static tailwind_tags %}

{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="fr">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>

    {% comment %} FavIcon for all the platforms {% endcomment %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <link rel="stylesheet" type="text/css" href="../../../theme/static/css/base.css">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css%22%3E"> {% endcomment %}
  {% tailwind_css %}
  <style type="text/css">
    #inputreset input{
        border-bottom: 1;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        /* border-radius: 15px; */
        background-color: #9faca98a;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 10px;
        padding-right: 10px;
        background-color:rgba(253, 250, 250, 0.657) ;
    }
    #inputreset input:focus{
      background-color: skyblue;
      outline: none;
    }
  </style>
</head>
<body>
    <section class="bg-lightcolor min-h-screen flex items-center justify-center">


      <div class="bg-whte2 flex shadow-lg max-w-3xl rounded-lg ">
        <form class="flex flex-col items-center justify-center rounded-md bg-clearwhite relative px-10 pb-10 pt-4 shadow-lm" action="" method="post">
          {% csrf_token %}
          <div class="flex flex-col items-center justify-center rounded gap-6">
            <h1 class="text-cornflower  text-[24px] font-poppin text-center" >Réinitialisation du mot de passe</h1>
            <p class="text-center">Saisissez votre adresse e-mail pour obtenir un nouveau mot de passe.</p>

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                <p class="alert-warning">{{ error }}</p>
                {% endfor %}
              {% endfor %}
            {% endif %}
            <div id="inputreset">{{ form.email }}</div>
    
            <p>
                <input type="submit" value="Send e-mail" class="bg-buttonhover mt-2 rounded w-40 h-10 text-[#f1f5f9] hover:bg-skybleu2 active:bg-skybleu2 focus:outline-none focus:ring focus:bg-skybleu2 ">
            </p>


          </div>
        </form>


        
        </form>
    </section>
</body>

